.backgroundIcon {
  &:hover {
    background-color: black;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: hsl(270, 67%, 1%);
  width: 70px;
  height: 70px;
  justify-content: center;
  text-align: center;
  border-radius: 70px;
  transform: translate(-50%, -50%);
  border: 0px;
}

.backgroundIcon img {
  width: 32px;
}
