@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 94%);
  font-family: "Poppins", sans-serif;
  display: flex;
  width: 100%;
  height: 100vh;

  align-items: center;
  justify-content: center;
}
.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  padding: 36px 24px;
  width: 100%;
}

.App-header {
  background-color: white;

  border-radius: 5% 5% 20% 5%;
}

.App-link {
  color: #61dafb;
}

.birthdayOutput {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  .App-header {
    width: 110%;
    padding: 48px 32px;
  }
}

@media only screen and (min-width: 1024px) {
  .App-header {
    width: 120%;
    padding: 56px 40px;
  }
}
@media only screen and (max-height: 800px) and (min-width: 480px) {
  body {
    margin: 10vh 0 0 0;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
